* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background: url('../images/background.jpg') center top no-repeat #0b2c19;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s linear,
              background 0.2s linear;
}

.hidden {
  display: none;
}

.container {
  position: relative;
}

.header {
  background: #091e0a;
  color: #b8b6b4;
}

.header a {
  color: #b8b6b4;
}

.header a:hover {
  color: #fff;
}

.header a.item {
  display: inline-block;
  height: 80px;
  padding: 0 15px 0 15px;
  line-height: 80px;
  font-size: 16px;
  color: #b8b6b4;
  text-transform: uppercase;
}

.header a.item:hover {
  background: #001100;
  color: #fff;
}

.header .content {
  position: relative;
  width: 940px;
  height: 80px;
  margin: 0 auto;
}

.header .logo {
  float: left;
  height: 44px;
  padding-top: 16px;
}

.header .logo img {
  height: 44px;
}

.header .nav {
  position: absolute;
  left: 150px;
}

.header .cart {
  position: absolute;
  top: 22px;
  right: 150px;
  font-size: 26px;
}

.header .right {
  position: absolute;
  right: 0;
}

.header .right .avatar {
  float: right;
  height: 40px;
  padding-top: 20px;
}

.header .right .avatar img {
  height: 40px;
}

.header .right .info {
  padding-right: 48px;
  padding-top: 22px;
  text-align: right;
  color: #b8b6b4;
}

.header .right .info .name {
  font-size: 14px;
}

.header .right .info .balance {
  font-size: 12px;
}

.header .search {
  position: absolute;
  right: 0;
  top: 96px;
}

.header .search .search-box {
  background: rgba(3, 209, 1, 0.2);
  height: 25px;
  width: 216px;
  border: rgba(0, 0, 0, 0.4) solid 2px;
  border-radius: 4px;
  transition: border 0.2s linear;
}

.header .search .search-box:hover {
  border: rgba(3, 209, 1, 0.5) solid 2px;
}

.header .search .search-box input {
  width: 180px;
  margin-top: 5px;
  margin-left: 8px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.header .search .search-box a {
  color: #fff;
  position: absolute;
  top: 2px;
  right: 2px;
}

.header .search .search-box a i {
  width: 24px;
  height: 27px;
}

.content {
  width: 940px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.page-content {
  padding-bottom: 155px;
}

.content .section-title {
  margin-top: 18px;
  text-shadow: 1px 1px 0 #000;
}

.content .title, #featured .title {
  font-size: 32px;
  text-shadow: 1px 1px 0 #000;
}

#featured #carousel {
  width: 940px;
  height: 300px;
}

#featured #carousel img {
  display: hidden;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  width: 460px;
  height: 215px;
}

#main {
  float: left;
}

.game-list {
  max-width: 660px;
  margin-top: 18px;
}

.game-list .game {
  display: inline-block;
  position: relative;
  margin-right: 24px;
  margin-bottom: 28px;
  box-shadow: 0 0 12px #000;
  transition: box-shadow 0.2s linear;
}

.game-list .game:hover {
  box-shadow: 0 0 16px rgb(3, 209, 1);
}

.game-list .game .game-cover {
  display: block;
  width: 190px;
  border-radius: 2px;
}

.game-list .game .game-price-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 25px;
  border-bottom-right-radius: 2px;
  background: url('../images/badge.png');
  transition: background 0.2s linear;
}

.game-list .game:hover .game-price-badge {
  background: url('../images/badge-light.png');
}

.game-list .game .game-price {
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 61px;
  text-align: center;
  font-size: 13px;
}

#sidebar {
  float: right;
  width: 240px;
  min-height: 639px;
  padding-top: 18px;
}

#sidebar .block .block-header {
  padding: 4px 4px 4px 6px;
  font-size: 12px;
  color: #8f98a0;
  background: #091e0a;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#sidebar .block .block-content {
  padding: 4px 2px 4px 4px;
  border: #091e0a solid 1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#sidebar .block .block-content .item {
  display: block;
  line-height: 28px;
  margin-bottom: 2px;
  padding: 0 8px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  transition: background 0.2s linear,
              color 0.2s linear;
  -webkit-transition: background 0.2s linear,
                      color 0.2s linear;
}

#sidebar .block .block-content .item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

#sidebar .block .block-content .item.active {
  background: rgba(255, 255, 255, 0.2);
}

#sidebar .categories li {
  display: block;
  line-height: 32px;
  margin-bottom: 1px;
  font-size: 13px;
}

.clearfix {
  clear: both;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 110px;
  background: #091e0a;
}

.footer .content {
  margin: 0 auto;
  padding: 0;
}

.footer .content .footer-text {
  padding-top: 30px;
  font-size: 12px;
  line-height: 24px;
  color: #b8b6b4;
}

.footer .content .footer-text a {
  color: #b8b6b4;
}

.footer .content .footer-text a:hover {
  color: #fff;
}
