* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background: url('../images/background.jpg') center top no-repeat #0b2c19;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.hidden {
  display: none;
}

.header {
  background: #091e0a;
  height: 104px;
}

.header .content {
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0 auto;
}

.header .logo {
  float: left;
  height: 44px;
  padding-top: 30px;
}

.header .logo img {
  height: 44px;
}

.header .nav {
  position: absolute;
  left: 150px;
}

.header .nav .item {
  display: block;
  position: relative;
  padding: 46px 15px 7px 7px;
  line-height: 16px;
  float: left;
  font-size: 16px;
  color: #b8b6b4;
  text-transform: uppercase;
}

.header .nav .item:hover {
  color: #fff;
}

.header .right {
  position: absolute;
  right: 0;
  padding-top: 32px;
}

.header .right .avatar {
  float: right;
  height: 40px;
}

.header .right #reg-login {
  color: #b8b6b4;
}

.header .right #reg-login .item {
  display: block;
  position: relative;
  padding: 14px 0 7px 22px;
  line-height: 16px;
  float: left;
  font-size: 16px;
  color: #b8b6b4;
  text-transform: uppercase;
}

.header .right #reg-login .item:hover {
  color: #fff;
}

.header .cart {
  position: absolute;
  top: 38px;
  right: 150px;
  font-size: 26px;
}

.header .cart a {
  color: #b8b6b4;
}

.header .cart a:hover {
  color: #fff;
}

.header .right .avatar img {
  height: 40px;
}

.header .right .info {
  padding-right: 48px;
  padding-top: 4px;
  text-align: right;
  color: #b8b6b4;
}

.header .right .info .name {
  font-size: 14px;
}

.header .right .info .balance {
  font-size: 12px;
}

.header .search {
  position: absolute;
  right: 0;
  top: 112px;
}

.header .search .search-box {
  background: rgba(3, 209, 1, 0.3);
  height: 25px;
  width: 216px;
  border: #091e0a solid 2px;
  border-radius: 4px;
}

.header .search .search-box:hover {
  border: rgba(3, 209, 1, 0.5) 2px solid;
}

.header .search .search-box input {
  width: 180px;
  margin-top: 5px;
  margin-left: 8px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.header .search .search-box a {
  color: #fff;
  position: absolute;
  top: 5px;
  right: 2px;
}

.header .search .search-box a i {
  width: 24px;
  height: 27px;
}

.content {
  width: 940px;
  margin: 45px auto;
  color: #fff;
}

.content .section-title {
  margin-top: 18px;
  margin-bottom: 12px;
  text-shadow: 1px 1px 0 #000;
}

#featured .title {
  font-size: 32px;
  text-shadow: 1px 1px 0 #000;
}

#featured #carousel {
  width: 940px;
  height: 300px;
}

#featured #carousel img {
  display: hidden;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
  width: 460px;
  height: 215px;
}

#main {
  float: left;
}

.gamelist {
  max-width: 700px;
}

.gamelist .game {
  display: inline-block;
  position: relative;
  margin-right: 24px;
  margin-bottom: 28px;
  box-shadow: 0 0 12px #000;
}

.gamelist .game:hover {
  box-shadow: 0 0 12px rgb(3, 209, 1);
  transition: box-shadow 0.2s linear;
}

.gamelist .game .game-cover {
  display: block;
  width: 190px;
}

.gamelist .game .game-price {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 25px;
  background: url('../images/badge.png');
  transition: background 0.2s linear;
}

.gamelist .game:hover .game-price {
  background: url('../images/badge-light.png');
}

#sidebar {
  float: right;
  width: 240px;
}

.footer {
  height: 200px;
}